---
layout: default
---
<div class="tag-page">
  <h1>Tag: {{ page.tag }}</h1>
  
  <div class="posts">
    {% for post in site.posts %}
      {% if post.tags contains page.tag %}
        <div class="post-item">
          <h2>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h2>
          <div class="post-date">{{ post.date | date: "%B %d, %Y" }}</div>
          {% if post.description %}
            <p>{{ post.description }}</p>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
